/* @override http://media.underlost.net/tumblr/blog/css/screen.css */

html {
	background: transparent;
}

body {
	padding: 7px 0;
	font-family: 'proxima-nova', sans-serif, Helvetica, sans-serif;
	color: #707070;
	background: #fbfbfb url('../img/bg.png') no-repeat fixed;
}



a {color: #155f81; text-decoration: none; font-weight: bold;}
a:hover {color: #ff0000; text-decoration: underline;}

::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

header {
	margin-top: 50px;
	margin-bottom: 50px;
}


header h1 {
	margin: 0;
	font-family: "comic-serif-pro",serif;
	font-size: 1.75em;
}

header h1 a{
	display: block;
	width: 65px;
	height: 65px;
	margin-top: 65px;
	margin-bottom: 50px;
	background: url('/img/underlost.png') no-repeat;
	text-indent: -9999px;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-family: 'ff-meta-web-pro', sans-serif;
}

header div#description{
	font-size: 90%;
	display: none;
}

div#content h2 {
	font-size: 1.65em;
	line-height: 1.25em;
}

div#content h2 a {
	color: #333;
}

h3.posted-on {
	color: #ccc;
	font-size: 1em;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 15px;
}

blockquote {
	border-left: 10px solid #ff0000;
}

div.post {
	margin-bottom: 30px;
}

div.post div.content {
	padding: 10px 0;
}



/* @group Meta */

/* Meta */

.meta {
	margin: 10px 0 0 0;
	font-size: 90%;
	display: none;
}

.metaList {
	display: block;
	margin: 0 10px;
}

.metaList li {
	display: inline-block;
	list-style: none;
	margin: 0 10px 0 0;
}

.metaList li a,
.metaAudio a,
.metaAudio .plays,
#footerNav li a {
	display: block;
	padding: 0 0 0 20px;
	height: 16px;
	color: #959595;
}

.metaList li.author {
	margin-left: -7px;
}

.metaList li.tagged {
	padding-left: 20px;
	white-space: nowrap;
}

.metaList li.author a,
.metaList li.tagged a {
	display: inline;
	height: auto;
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #dcdcdc
}

.metaList li.tagged a {
	margin-right: 5px;
}

.metaAudio a,
.metaAudio .plays {
	float: left;
	margin-right: 10px;
}

.metaAudio a.download {
	color: #464646;
}

/* @end */




/* Sprites */

li.posted a, li.notes a,
li.tagged, li.comments a, a.download, .plays,
#archive a, #mobile a, #rss a,
#search a, #tumblr a {
	background: url(http://static.tumblr.com/iqfzjqj/uKzkkt8al/icons16.png) 0 0 no-repeat;
}

li.posted a {
	background-position: 0 -64px;
}

li.posted a:hover {
	background-position: 0 -80px;
}

li.notes a {
	background-position: 0 -96px;
}

li.notes a:hover {
	background-position: 0 -112px;
}

li.tagged {
	background-position: 0 -128px;
}

/* .tagged:hover {background-position:0 -144px;} */

a.download {
	background-position: 0 -160px;
}

a.download:hover {
	background-position: 0 -176px;
}

.plays {
	background-position: 0 -192px;
}

li.comments a {
	background-position: 0 -416px;
}

li.comments a:hover {
	background-position: 0 -432px;
}



/* @group Chat */

/* Chat */

.transcript {
	margin: 0 0 9px 0;
}

.transcript dt {
	color: #464646;
	font-size: 109.091%;
	line-height: 1.33;
	display: inline;
}

.transcript dd {
	padding-left: 10px;
	margin-bottom: 6px;
	display: inline;
}

.content ul.chat { list-style-type: none; margin-left: 0; padding: 5px 0; }
.content ul.chat li {list-style-type: none;}
.content ul.even user_1, li.even user_1 { color: #323232; }
.content span.label { color: #333; }
.content  ul.odd user_2, li.odd user_2 { color: #323232; }
.content li.even user_2 span.label { color: #323232; font-weight: bold; }


/* @end */

#pageNav {
	clear: both;
	height: 35px;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 20px;
}

#pageNav a, #pageCount {
	float: left;
	display: block;
	padding: 8px 0;
	width: 100px;
}

#pageNav a {
	color: #c1c1c1;
}

#pageNav a:hover {
	color: #7a7a7a;
}

#pageNav a span {
	color: #464646;
}

#pageNav a:hover span {
	color: #000;
}

#pageCount {
	color: #959595;
}

#pageNav a#following {
	float: right;
}